div.admin_notice_common_div{
	max-width: 1080px;
    min-width: 480px;
    min-height: 600px;
    margin-top: 80px;
    margin-left: 60px;
}

/* 공동 사용 */
/* 전체 크기 */
div.notice_common_div{
	max-width: 1080px;
	min-width: 480px;
	min-height: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 80px;
}



/* 공지사항 리스트 */
#notice_table_div table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}
#notice_table_div table {
	border-top: 1px solid #c7c7c7;
	border-bottom: 1px solid #c7c7c7;
}
#notice_table_div table th {
	border-bottom: 1px solid #e3e3e3;
	background-color: #f7f7f7; 
	height: 25px;
}
#notice_table_div table td {
	border-bottom: 1px solid #e3e3e3;
}

#notice_table_div table td {
	color: #939393
}

#notice_table_div table td.notice_title {
	text-align: left; padding-left: 20px;
}

#notice_table_bottom{
	max-width: 100%;
	height: 50px;
	line-height: 50px;
}



