/* 글쓰기 & 수정에서의 타이틀 */
.writeform_title_input {
	display: inline-block;
 	width: 96%;
    height: auto;
    padding: 9px 18px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #ededed;
    -webkit-transition: all .2s;
    transition: all .2s;
    background-color: #fff;
    color: #000;
}

/* 버튼 */
.common_btn{
	font-size: 16px; 
	font-weight: 700;
	width: 70px;
	height: 35px;
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	background: #e3e3e3;
}

/* 글쓰기, 보기, 수정 바텀 */
.form_bottom{
	position: relative; 
	max-width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
}


/* 상세보기 */
.detail_title{
	border-bottom: 1px solid #ccc;
	height: 60px;
	line-height: 60px;
	padding-left: 20px;
}

.detail_subhead{
	height: 40px;
	line-height: 40px;
	padding-left: 30px;
	background-color: #f7f7f7;
}

.subhead_detail_date{
	padding-left: 20px;
}

.subhead_detail_right{
	float: right;
	margin-right: 20px;
}

.detail_content{
	position: relative; 
	max-width: 100%;
	min-width: 480px;
	min-height: 404px;
	padding: 40px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}