@font-face {
	font-family: 'S-CoreDream-4Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/*초기화 & 폰트 설정*/
* {font-family: S-CoreDream-4Regular;}

/* 공통: a 태그, 데코레이션 삭제 */
a, a:hover { text-decoration: none; color: #000000; }

/*input 태그의 라벨, 왼쪽 여백*/
label.agree_tit{ padding-left: 8px;	}

/*강조 표시 분홍에 가까운 빨간색*/
strong.emphasis{ color: #F84A71;}

/* ---- common.css end ----- */





/*---- 공통 모달 설정 common_modal.css ---- */

/* 모달 x버튼 위치*/
button.modal_close_btn_x { 
	position: absolute; 
	right: 0;
	margin-top: 10px;
	margin-right: 10px;		
}

/* 모달 x버튼 모양*/
button.modal_close_btn_x { 
	height: 24px;
	width: 24px;
	cursor: pointer;
	background-color: #fff;
	border: 0;
}

button.modal_close_btn_x:hover { 
	border: 0; 
	cursor:pointer; 
	opacity: .75; 
}

img.x_button{
	margin: auto;
}

/* 모달 메인버튼 */
button.modal_main_btn{
	background-color: #fff;
	color: black;
	font-weight: bold;
	font-size: 1rem;
	width: 100%;
	height: 38px;
	margin-top: 10px;
	border: 1px solid #ffb300;
	border-radius: 5px;	
}

button.modal_main_btn:hover, button.modal_main_btn_yes:hover, button.modal_main_btn_no:hover {
	cursor:pointer;
	border: 1px solid #ff5a5f;		
}

/* 모달 메인버튼 */
button.modal_main_btn_yes {
	background-color: #fff;
	color: black;
	font-weight: bold;
	font-size: 1rem;
	width: 40%;
	height: 38px;
	margin-top: 10px;
	margin-left: 10%;
	border: 1px solid #ffb300;
	border-radius: 5px;	
}
button.modal_main_btn_no {
	background-color: #fff;
	color: black;
	font-weight: bold;
	font-size: 1rem;
	width: 40%;
	height: 38px;
	margin-top: 10px;
	border: 1px solid #ffb300;
	border-radius: 5px;	
}

/*모달 위치 조정*/
div.modal_container {
	position: relative;
	margin: 100px auto;
}

/*모달 전반적인 모양 조정*/
div.modal_container {
	background-color: #fff;
	width: 370px;
	border-radius: 5px;
	box-shadow: 0 0 8px rgba(0,0,0,0.1);
	z-index: 1;

}

div.modal_header{
	text-align: center;
	padding: 1rem 1rem 0.65rem 1rem;
}

div.modal_header h2{
	font-size: 1.9rem;
}

div.modal_body{			
	padding: 1rem;
}


/*모달 인풋 모양 설정*/
input.modal_input{
	width: 93%;
	height: 24px;
	padding: 6px 12px;
	border-radius: 5px;
	border: 1px solid #D5D5D5;
	margin-bottom: .25rem;
	font-size: 1rem;
}

/*모달 체크 박스 모양 설정*/
input.modal_checkbox{
	height: 1rem;
	width: 1rem;
	position: relative;
	top: 0.15rem;
}

/*모달에 display: none 설정*/
div.modal{
	display: none;
}

/*모달 배경을 어둡게 하기 위한 설정 
& 모달 창 밖을 누르면 모달창을 닫기 위한 설정*/
div.modal_layer{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.5);
	z-index: 0;
}

div.modal_link{
	height:35px;	
}

/* ----------공통 모달 설정 common_modal.css end----------------- */



/*---- 공통: 로그인, 회원가입, 아이디 패스워드 찾기 모달 설정 login_register_modal.css ---- */
/*이용약관 출력 */
div.terms{
	height: 100px; 
	border:1px solid #dfe0df; 
	margin-top: -5px; 
	border-radius: 4px; 
	padding: 12px 14px; 
	overflow-y: auto; 
	background:#fff; 
	color:#000;
}

/*기타 이용약관*/
div.terms_other{
	color: #747474;
	margin-top: 3px;
	margin-bottom: 3px;

}

/*아이디, 패스워드 찾기 탭 */
button.btn_find{
	width: 45%;
	height: 40px;
	margin: auto;
	border: 1px double #dfe0df;
	text-align: center;			
	border-radius: 5px;
	font-size: 1rem;
	background: white;
}

/*active 버튼 설정*/
button.active {
	border: 2px solid #FFBB00;
	outline: none;
}
/*---- 공통: 로그인, 회원가입, 아이디 패스워드 찾기 모달 설정 login_register_modal.css end ---- */



/*======== 간격조절 css ============*/
.none {
	display: none;
}

.mb-1{
	margin-bottom: 0.25rem;
}

.mb-2{
	margin-bottom: 0.5rem;
}

.mb-3{
	margin-bottom: 1rem;
}

.mb-4{
	margin-bottom: 1.5rem;
}

.mx-2{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.mt-2{
	margin-top: 0.5rem;
}