
/* img-slide */
#imgslide {
	width: 100%;
	height: 850px;
	overflow: hidden;
}
#imgslide ul {
	width:calc(100% * 3);
	display:flex;
	animation:slide 9s infinite;
}
#imgslide li {
	width:calc(100% / 3);
	height:850px;
}
@keyframes slide {
	0% {margin-left:0;} /* 0 ~ 10  : 정지 */
	10% {margin-left:0;} /* 10 ~ 25 : 변이 */
	25% {margin-left:-100%;} /* 25 ~ 35 : 정지 */
	35% {margin-left:-100%;} /* 35 ~ 50 : 변이 */
	50% {margin-left:-200%;}
	60% {margin-left:-200%;}
	100% {margin-left:0;}
}
#textbox {
	width: 100%;
	height: 850px;
	padding-top: 90px;
}
#textbox h2{
	font-size: 44px;
	color: white;
	text-align: center;
	padding-top: 190px;
}
#textbox h4 {
	font-size: 20px;
	color: white;
	text-align: center;
}

/* about */
#about {
	padding-top: 90px;
	width: 100%;
	height: 460px;
}
#about #container {
	background: url(/resources/image/bg-company.jpg) no-repeat;
	background-position: left center;
	padding: 100px 0 100px;
	height: 350px;
}
#about #container #about_textbox {
	padding-left: 50%;
}
#about #container #about_textbox h3 {
	padding: 0 0 35px;
	font-size: 40px;
	color: #222;
	line-height: 1.3em;
	font-weight: 400;
}
#about #container #about_textbox strong {
	padding: 0 0 35px;
	font-size: 40px;
	color: #222;
	line-height: 1.3em;
	font-weight: 700;
}
#about #container #about_textbox p {
	font-size: 15px;
	color: #222;
	line-height: 1.7em;
	font-weight: 600;
}

/* rooms */
#rooms {
	padding-top: 90px;
	width: 100%;
	height: 750px;
}
#rooms #container h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 20px;
}
#rooms_product_row {
	width: 100%;
	height: 300px;
	margin-top: 15px;
}
#rooms_product {
	width: 309px;
	height: 100%;
	float: left;
	overflow: hidden;
	padding: 3px;
}
#rooms_img {
	height:80%;
}
#rooms_title {
	height:20%;
}
#rooms_title p {
	line-height: 1.6;
}
#rooms_title p b {
	font-size: 18px;
	color: #212121CC;
	font-weight: 700;
}
#rooms_title p span {
	font-size: 14px;
	color: #FFB300;
}

/* event*/
#event {
	padding-top: 110px;
	width: 100%;
	height: 630px;
}
#event #container h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 50px;
}
#event #container #event_item li {
	float: left;
	width: 23%;
	height: 380px;
	margin: 0 1%;
	background: #f5f5f5;
	box-shadow: 2px 0 7px rgb(0 0 0 / 20%);
	text-align: center;
}
#event #container #event_item li strong {
	font-size: 18px;
}
#event #container #event_item li div {
	background-position: center 80px !important;
	padding-top: 280px;
	font-size: 16px;
	line-height: 1.5em;
	color: #333;
}

/* service */
#service {
	padding-top: 110px;
	width: 100%;
	height: 630px;
}
#service #container h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 50px;
}
#service #container #service_item li {
	float: left;
	width: 23%;
	height: 380px;
	margin: 0 1%;
	background: #f5f5f5;
	box-shadow: 2px 0 7px rgb(0 0 0 / 20%);
	text-align: center;
}
#service #container #service_item li strong {
	font-size: 18px;
}
#service #container #service_item li div {
	background-position: center 80px !important;
	padding-top: 280px;
	font-size: 16px;
	line-height: 1.5em;
	color: #333;
}