/* mypage_layout */
#mypage_layout {
	padding-top: 90px;
	width: 100%;
	height: 1100px;
	clear: both;
}

/* side_menu */
#side_menu {
	width: 15%;
	height: 100%;
	float: left;
	border-right: 1px solid #c7c7c7;
	display: table-cell; 
	vertical-align: middle;
}
#side_menu ul {
	padding-left: 30px; 
	line-height: 120px; 
	margin-top: 10px;
}
#side_menu ul li button {
	font-size: 18px; 
	font-weight: 700;
}
.menu_selected {
	border-bottom: 2px solid #ffb300;
}

/* main_content */
#main_content {
	width: 84%;
	height: 100%;
	float: left;
	overflow-y: auto;
}