/* header */
#header {
	width: 100%;
	height: 90px;
	background: white;
	box-shadow: 0 0 10px rgb(0 0 0 / 20%);
	position: fixed;
	top: 0;
	z-index: 9999;
}

/* header - logo */
#logo {
	width: 10%;
	height: 88px;
	text-align: center;
	float: left;
}
#logo .logo {
	line-height: 82px;
	text-decoration: none;
	font-size: 20px;
	color: #212121CC;
	font-weight: 700;
	padding-left: 5px;
	font-family: 'Ubuntu', sans-serif;
}

/* header - menu */
#header_menu {
	width: 72%;
	height: 88px;
	float: left;
}
#header_menu ul  {
	text-align: center;
	margin-top: 19px;
}
#header_menu ul li  {
	display: inline-block;
}
#header_menu ul li a {
	display: inline-block;
	text-align: center;
	width: 100px;
	height: 50px;
	line-height: 50px;
	list-style: none;
	color: #212121CC;
	font-weight: 700;
	padding: 0 20px;
	font-family: 'Ubuntu', sans-serif;
}
#header_menu ul li a:hover {
	color: #00abd7;
}

/* header - member */
#member {
	width: 18%;
	height: 88px;
	text-align: center;
	float: left;
}
#member ul  {
	margin: 0 auto;
	padding-right: 20px;
}
#member ul li button {
	width: 80px;
	height: 88px;
	line-height: 85px;
	list-style: none;
	float: right;
	color: #212121CC;
	font-weight: 700;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
}
#member ul li button:hover {
	color: #00abd7;
}